html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.bgColorNewRun {
  background-color: cornflowerBlue;
}

#map {
    width: 100%;
    /* 
     * 100% of view height (100vh), minus:
     *  -  Title bar: 56 pixels
     *  -  Space at bottom: 128 pixels (increase to make more space)
     */
    height: calc(100vh - 184px);
}


.markerType {
  background-color: deepskyblue;
  width: 15px;
  height: 15px;
  cursor: crosshair;
}

.centered {
  text-align: center;
}

.margins {
  margin-bottom: 17px;
}

.chip-overrides {
  width: auto!important;
  padding: 0px 15px;
  font-size: 15px!important;
}

.spacings {
  margin-right: 5px;
}

.centerInput {
  margin: auto;
  width: 100px;
  height: 100px;
  background: white;
}
